html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
  
}

img{
  width: 100%;
  height: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body, html {
    font-size: 16px;
    height: 100%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #777;
  }

  header{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%
    }

  header > div{
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    
    @keyframes example{

      0% {background-image: url("../images/1.jpg");}
      25% {background-image: url("../images/1.jpg");}
      50% {background-image: url("../images/2.jpg");}
      75% {background-image: url("../images/2.jpg");}
      100% {background-image: url("../images/1.jpg");}
  
     }
    

#hero {
    background-image: url("../images/1.jpg");
    background-color: #cccccc;
    height: 100vh; 
    position: relative;
    opacity: 1;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: forward;
  }

  .float{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    float: right;
    margin-right: 3em;
  }

.legend {
    color: white;
    font-size: 5em;
    margin-top: 1em;
    font-weight: bold;
    letter-spacing: 0px;
    font-style: thin;
    text-shadow: 9px 4px 4px rgba(0, 0, 0, 0.25);  
  }

  #hero-int{

    width: 60%;
    background-color: #242528;
    display: inline-flex;
    padding: 4%;
    margin-top: 3%;
    border-radius: 4em;
    box-shadow: 9px 4px 4px rgba(0, 0, 0, 0.25);

  }

  #hero-int a{

    font-size: 1.5em;
    color: white;
    font-weight: 600;
    text-decoration: none;

  }

  #hero-img{

    margin-right: 1em;
    width: 15%;
    height: auto;
    vertical-align: middle;

  }

  #features{
    background-color: #222222;
    align-items: center;
    text-align: center;
    padding: 5% 9% 5% 13%;
    display: flex;
  
  }

  .feats{
    margin: 0 auto;
    position: relative;
  }

  .imgFeats{

    width: 100%;
  
  }

  .media-icon{
    display: inline-block;
    width: 33%;
  }

  .descFeats {
  width: 100%;
}

.legFeats{
    background-color: transparent;
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 10% 0;
}

.menuheader{

    width: 90%;
    padding: 0 5%;
    align-items: center;
    margin-top: 1%;

  }

  h1.logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0px;
    font-style: thin;
    transition: 0.5s
  }


  .boton{
    color: white;
    font-size: 1em;
    font-weight: bold;
    opacity: 1;
    transition: 0.5s;
  }

  #botons{
    display: inline-flex;
    flex-wrap: wrap;
  }

  ul#botons li a{
    text-align: center;
    border: 0px;
    padding:6% 1.5em;
    color: white;
    font-size: 1em;
    font-weight: 500;
    opacity: 0.5;
    transition: 0.5s;
    text-decoration: none;
  }

 
  .activo a{

    opacity: 1!important;

  }



  




  #social-media{
    max-width: 100%;
    background-color: #222222;
    text-align: center;
    padding: 2.5em;
    }
    
    #social-media h1{
      font-size: 3em;
      font-weight: 600;
      color: white;
      }
    
    .redes-art {
      display: inline-flex;
      margin: 2em;
      width: 8%;
    }
    
    
    label{
    
      font-size: 1.5em;
      color: white;
      font-weight: 600;
      margin: 0 auto;
      width: 75%;
      background-color: transparent;
    
    }
    
    #gender {
      width: 100%;
      padding: 0.5em;
      margin: 1.5em auto;
      border-radius: 0.5em;
      background-color: #222222;
      color: white;
    }

    input{
        width: 75%;
        height: 2em;
        background-color: #222222;
        font-size: 1em;
        color: #ffffff;
        border-width: 1px;
        border-color: #242528;
      }
      
    
    input[type="submit"] {
      width: 12em;
      background-color: #222222;
      border-radius: 1em;
      color: white;
      margin-top: 3%;
      font-weight: 500;
    }

    textarea{
        min-height: 25%;
        min-width: 75%;
        width: 100%;
        height: 12em;
        resize: vertical;
        background-color: #222222;
        font-size: 1em;
        color: #ffffff;
        border-width: 1px;
        border-color: #242528;
      }
    
    #comms{
      font-size: 2em;
      color: white;
      font-weight: 600;
      margin: 0 auto;
      width: 75%;
      background-color: transparent;
    }
    
    form {
      width: 75%;
      margin: 0 auto;
    }
    
    #forms {
      padding: 3%;
      background-color: #181819;
    }
    
    .shrt-answer{
    
      width: 99%;
      padding: 0.5em;
      margin: 1.5em auto;
      border-radius: 0.75em;
      background-color: #222222;
      color: white;
    
    }

    footer{
        background-color: #181819;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20vh;
        padding-right: 5%;
        padding-left: 5%;
      }
    
      .footer1{
        background-color: #181819;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    
      .pfooter a{
        color:green;
        text-decoration: none;
      }
    
      p.pfooter{
        font-size: 0.8em;
        color: #ffff;
      }
    
      .redsocial{
        display: flex;
        justify-content: space-between;
      }
      
      .iconored{
        font-size: 1em;
      }
      
      .redsocial li{
        padding: 1em 1.5em;
        background-color:#000;
        color: #ffff;
        margin-left:0.6em;
        opacity: 1;
      }
      
      .redsocial li:hover{
        opacity: 0.75;
      }


      /*MEDIA QUERIE*/


@media (max-width: 768px){

  .float{

    width: 50%;
    margin-right: auto;

  }

  .legend {
    font-size: 3em;
    margin-top: 0;
  }

  #hero-int{

    width: 50%;
  }

  #hero-int a{

    font-size: 1em;

  }      
      
}

@media (max-width: 440px){

  .logo img{

    width: 75%;

  }

  .float{

    width: 50%;
    margin-right: auto;

  }

  .legend {
    font-size: 2em;
    margin-top: 0;
  }

  #hero-int{

    width: 50%;
  }

  #hero-int a{

    font-size: 0.5em;

  }   

  #features {
    display: block;
}
  
  .legFeats{
    font-size: 2em;
}

#comms{
  font-size: 1.5em;
}

label{
    
  font-size: 1em;

}

input[type="submit"] {
  margin: 6% auto 5% auto;
}

#social-media h1 {
  font-size: 2em;
}

.redes-art {
  width: 15%;
  margin: 2em 1em 1em 1em;
}

footer p{

  margin-left: 3em;
  line-height: 1.5em;

}
      
}

